{% extends 'base.html' %}
{% load static %}
{% block style %}
  html,
  body {
  height: 100%;
  }

  body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  }

  .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  }

  .form-signin .checkbox {
  font-weight: 400;
  }

  .form-signin .form-floating:focus-within {
  z-index: 2;
  }

  .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  }
  .logo {
  text-align: center;
  }
{% endblock %}
{% block content %}
  <main class="form-signin">
    <form method="post" class="needs-validation" novalidate>
      {% csrf_token %}
      <div class="logo">
        <img class="mb-4" src="{% static 'icon/icon.png' %}" alt="" width="72"
             height="72">
        <h1 class="h3 mb-3 fw-normal">Forgot password</h1>
      </div>
      <div class="form-floating">
        {{ form.email }}
        <label for="floatingInput">{{ form.email.label }}</label>
      </div>
      <br/>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
    </form>
  </main>
{% endblock content %}

{% block javascript %}
{% endblock javascript %}
