{% if request.user.is_anonymous %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'login' %}">
      <i class="bi bi-box-arrow-in-right me-1"></i>ログイン
    </a>
  </li>
{% else %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'shift:index' %}">
      <i class="bi bi-pencil-square me-1"></i>シフト管理
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'notice:index' %}">
      <i class="bi bi-bell me-1"></i>お知らせ
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'custom_auth_group:index' %}">
      <i class="bi bi-people me-1"></i>グループ
    </a>
  </li>
  {% if has_shift_admin_groups or request.user.is_staff %}
    <li class="nav-item dropdown ms-lg-auto">
      <a class="nav-link dropdown-toggle" href="#" id="adminMenu" role="button" data-bs-toggle="dropdown"
         aria-expanded="false">
        <i class="bi bi-gear me-1"></i>管理メニュー
      </a>
      <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="adminMenu">
        {% if has_shift_admin_groups %}
          <li><a class="dropdown-item" href="{% url 'shift:summary_index' %}">シフト提出状況</a></li>
          <li><a class="dropdown-item" href="{% url 'shift:schedule_index' %}">開講スケジュール設定</a></li>
        {% endif %}
        {% if request.user.is_staff %}
          <li><a class="dropdown-item" href="{% url 'admin:notice_notice_add' %}">通知追加</a></li>
          <li><a class="dropdown-item" href="{% url 'admin:index' %}">管理者画面</a></li>
        {% endif %}
      </ul>
    </li>
  {% endif %}
  <li class="nav-item dropdown {% if not has_shift_admin_groups and not request.user.is_staff %}ms-lg-auto{% endif %}">
    <a class="nav-link dropdown-toggle" href="#" id="accountMenu" role="button" data-bs-toggle="dropdown"
       aria-expanded="false">
      <i class="bi bi-person-circle me-1"></i>{{ request.user.get_display_name }}
    </a>
    <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="accountMenu">
      <li><a class="dropdown-item" href="{% url 'custom_auth:index' %}">アカウント情報</a></li>
      <li><a class="dropdown-item" href="{% url 'custom_auth:edit_profile' %}">プロフィール編集</a></li>
      <li><a class="dropdown-item" href="{% url 'custom_auth:password_change' %}">パスワード変更</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'logout' %}">
          <i class="bi bi-box-arrow-right me-1"></i>ログアウト
        </a>
      </li>
    </ul>
  </li>
{% endif %}
