{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="container py-4 mb-auto">
        <div class="h-900 p-2 rounded-3">
          <h2 class="card-title">Group権限設定</h2>
          <br/>
          {% if error %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
            <br/>
          {% endif %}
          {% if group %}
            <div class="card">
              <div class="card-header">
                ID: {{ group.id }} 作成日: {{ group.created_at }}
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ group.name }}</h5>
                <br/>
              </div>
              <div class="card-footer">
                {% if group.status == 1 %}
                  <span class="badge bg-primary">有効</span>
                {% else %}
                  <span class="badge bg-danger">無効</span>{% endif %}
                {% if is_administrator %}
                  <span class="badge bg-success">管理者権限</span>{% endif %}
                <span
                    class="badge bg-secondary">Service: {{ group.service_set.count }}</span>
              </div>
            </div>
            <br/>
            <br/>
            {% if permissions %}
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">作成日</th>
                  <th scope="col">User</th>
                  <th scope="col">Group</th>
                  <th scope="col">Option</th>
                  <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for permission in permissions %}
                  <tr>
                    <th scope="row">{{ permission.id }}</th>
                    <td>{{ permission.created_at }}</td>
                    <td>{{ permission.user.id }}: {{ permission.user.username }}</td>
                    <td>{{ permission.group.id }}: {{ permission.group.name }}</td>
                    <td>
                      {% if permission.is_admin %}
                        <span class="badge bg-success">管理者権限</span>
                      {% else %}
                        <span class="badge bg-primary">ユーザ権限</span>
                      {% endif %}
                      {% if permission.enable_ldap %}
                        <span class="badge bg-success">LDAP有効</span>
                      {% elif permission.ldap_register %}
                        <span class="badge bg-danger">LDAP無効</span>
                      {% endif %}
                    </td>
                    <td>
                      {% if is_administrator %}
                        <form method="post">
                          {% csrf_token %}
                          <input type="text"
                                 value={{ permission.id }} name="id"
                                 hidden>
                          {% if permission.is_admin and permission.user.id != request.user.id %}
                            <button type="submit"
                                    class="btn btn-primary btn-sm"
                                    name="no_admin">ユーザ権限に変更
                            </button>
                          {% elif permission.is_admin %}
                            ユーザ権限に変更出来ません
                          {% else %}
                            <button type="submit"
                                    class="btn btn-primary btn-sm"
                                    name="admin">管理者権限に変更
                            </button>
                          {% endif %}
                        </form>
                      {% else %}
                        権限がありません
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% endif %}
            {% if not is_administrator %}
              <p>管理者権限がないため、権限設定を変更出来ません。</p>
            {% endif %}
          {% else %}
            <p><b>本グループIDは閲覧できません</b></p>
          {% endif %}
          <br/>
          <br/>
          <a class="btn btn-primary"
             href="{% url 'custom_auth_group:index' %}" role="button"
             aria-expanded="false">グループ一覧に戻る</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
