{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="container py-4 mb-auto">
        <div class="h-900 p-2 rounded-3">
          <h2>パスワード変更</h2>
          <div class="row justify-content-md-center">
            <div class="col-8">
              <div class="card text-bg-warning mb-3">
                <div class="card-body">
                  <h5 class="card-title">注意点</h5>
                  <div class="card-text">
                    <ul>
                      <li>
                        ご登録情報に似たパスワードにはできません。
                      </li>
                      <li>8文字以上32文字以内で設定してください。
                      </li>
                      <li>よく使われるパスワードにはできません。
                      </li>
                      <li>数字だけのパスワードにはできません。</li>
                    </ul>
                  </div>
                </div>
              </div>
              {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                  {{ form.errors }}
                </div>
              {% endif %}
              <form method="post">
                {% csrf_token %}
                <p>元のパスワード:{{ form.old_password }}</p>
                <p>新しいパスワード:{{ form.new_password1 }}</p>
                <p>新しいパスワード（確認用）:{{ form.new_password2 }}</p>
                <input type="submit" class="btn btn-primary"/>
              </form>
              <br/>
              <br/>
              <a href="{% url 'custom_auth:index' %}"
                 class="btn btn-primary">プロフィールに戻る</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
